<div class = "center">
    <h1>Subir PDF de la cédula</h1>
</div>

<div class = "center">
<input 
    style = "display: none" 
    type = "file" 
    (change) = "onFileSelected($event)"
    #FileInput>

    <button mat-raised-button (click) = "FileInput.click()">Elegir archivo</button>
</div>

<div class = "center">
    {{fileName || "No se ha subido ningún archivo"}}
    <button mat-mini-fab color="primary" class="upload-btn" 
        (click) = "onUpload()">
        <mat-icon>file_upload</mat-icon>
    </button>
</div>



<!-- <div class="progress">

    <mat-progress-bar class="progress-bar" mode="determinate"
                      [value]="uploadProgress" *ngIf="uploadProgress">
  
    </mat-progress-bar>
  
    <mat-icon class="cancel-upload" (click)="cancelUpload()" 
              *ngIf="uploadProgress">delete_forever</mat-icon>
  
  </div> -->
